@import "./fonts";

.home-bg {
  background: url("../images/purty-wood.png");
  height: 100vh;
}

.home-container {

  .home-components {

    .title-header {
      h1 {
        font-family: $pacifico;
        font-size: 6rem;
        text-align: center;
      }
    }

    .enter-container {
      background: url("../images/cafe-white.jpg");
      height: 70vh;
      background-size: cover;
    }

    .about-container {

      .about-header {
        font-family: $pacifico;
        font-size: 4rem;
        text-align: center;
      }
    }
  }
}