@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,100;0,400;0,600;1,100&family=Send+Flowers&display=swap');

main {
  width: 100%;
  position: absolute;
  top: 3rem;
}

.nav-header {
  z-index: 1;
  position: sticky;
  width: 100%;
}
