.study-main {
  background: url("../images/leafy-cafe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

.study-dashboard {

  max-height: 50vh;
  display: flex;
  padding-left: 6rem;
  padding-right: 6rem;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;

}

.study-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

}

.study-components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
  align-items: center;
}

.left-study-bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.centre-study-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
}

.timer-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
}

.right-study-bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: flex-end;
}


.timer-contents {
  padding: 2rem;
}