@use './fonts';

.study-main {
  height: 100vh;
  position: relative;
  z-index: 1;

  .study-image {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    opacity: .8;
    left: 0;
    top: 0;

  }

  h1 {
    font-family: fonts.$pacifico;
    color: black;
    font-size: 3rem;
  }

  h2 {
    font-family: fonts.$raleway;
    font-weight: 600;
    color: whitesmoke;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .study-dashboard {

    max-height: 50vh;
    display: flex;
    padding-left: 6rem;
    padding-right: 6rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    position: relative;

  }

  .study-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;

  }

  .study-components {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 20px;
    min-height: 650px;
  }

  .left-study-bar {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    overflow: hidden;
    max-height: 600px;


    h3 {
      color: white;
          text-align: center;
          font-family: fonts.$raleway;
    }

    .user-bar {
      display: flex;
      padding: 5px;
              justify-content: center;
    }
  }

  .centre-study-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
  }

  .timer-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
  }

  .right-study-bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }


  .timer-contents {
    padding: 2rem;
    display: flex;
    flex-direction: column;

  }

  .study-timer {

    background-color: black;
    border-radius: 10px;
    padding: 15px;
    opacity: .6;
  }

}